doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Crear servicio
    body
        h1 Crear un nuevo servicio
        form(action="/servicios/agregar" method="POST")
            div
                input(type="text" placeholder="Agregar servicio" name="name" required)
            div 
                input(type="text" placeholder="Agregar descripción" name="description" required)
            div    
            input(type="submit")
            input(type="reset") 