doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login
    body 
        h1= title
        form(id="login")
            input(type="text" placeholder="e.j. example@mail.com" name="email" required)
            input(type="password" name="password" required)
            input(type="submit")

    script.
            const login = document.getElementById("login")             
            login.addEventListener('submit', async (e) => {
                e.preventDefault() //- Evita que se refresque el sitio web
                let email = login.elements['email'].value;
                let password = login.elements['password'].value;
                try {
                    let data = await fetch('/usuarios/login', {
                        method: 'post',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({email, password}) 
                    })
                        .then(data => alert('Registro exitoso'))
                        .then(data => location.href = '/servicios')
                        .catch(error => alert('Usuario o contraseña erróneo'))
                } catch (error) {
                    console.log(error)
                }
            });