doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css" href="/css/apartments.css")
        link(rel="stylesheet", type="text/css" href="/css/search.css")
        title Buscar por precio y habitaciones
    body
        header
            h1(class="title") Búsqueda de apartamentos por precio y/o habitaciones
        main
            div(class="container-form") 
                form(class="form-search" action="apartamentos/buscar" method="get")
                    input(type="number" min="0" name="minprice" placeholder="Precio mínimo €" class="form-search__input")
                    input(type="number" min="0" name="maxprice" placeholder="Precio máximo €" class="form-search__input")
                    input(type="number" min="0" name="rooms" placeholder="Número de habitaciones" class="form-search__input")      
                    input(type="submit" value="Buscar" class="container-update" class="form-search__input form-search__submit") 