doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Actualizar servicio
    body
        h1 Actualización de servicio
        form(id="formularioEditar" data-id=service.id)
            div
                input(type="text" value=service.name name="name" required)
            div 
                input(type="text" value=service.description name="description" required)
            div    
            input(type="submit")
            input(type="reset")

        a(href="/servicios") Regresar a servicios 
         
        script.
            const formu = document.getElementById("formularioEditar")             
            formu.addEventListener('submit', async (e) => {
                e.preventDefault() //- Evita que se refresque el sitio web
                let name = formu.elements['name'].value;
                let description = formu.elements['description'].value;
                let id = formu.dataset.id;
                try {
                    let data = await fetch('/servicios/actualizar', {
                        method: 'put',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({id: id, name: name, description: description}) 
                    })
                        .then(() => alert('Registro modificado con éxito'))
                        .then(() => location.href = '/servicios')
                        .catch(() => alert('Modificación no se pudo realizar'))
                } catch (error) {
                    console.log(error)
                }
            });
            